/* 
    Created on : 19/11/2017, 10:36:45
    Author     : Andrade
*/
@charset "ISO-8859-1";
.ui-layout-north {
    z-index:20 !important;
    overflow:visible !important;;
}
.ui-layout-north .ui-layout-unit-content {
    overflow:visible !important;
}
body{
    padding: 10px;
}
.ui-widget, .ui-widget .ui-widget{
    font-size: 12px !important;
}